// COLOURS
$black: #000000 !default;
$white: #ffffff !default;
$teal: #008080 !default;


//FONTS
$roboto: 'Roboto Mono', monospace !default;
$montserrat: 'Montserrat', sans-serif !default;
$bitter: 'Bitter', serif !default;

